@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li input[type="checkbox"] {
  width: 40px;
  height: auto;
  margin: auto 0;
  border: none;
}

.todo-list li .save,
.todo-list li .delete,
.todo-list li .edit {
  position: absolute;
  top: 5px;
  bottom: 0;
  width: 50px;
  height: 40px;
  font-size: medium;
}

.todo-list li .save {
  top: 10px;
  right: 55px;
  color: #00bfff;
}

.todo-list li .delete {
  right: 10px;
  color: #cc9a9a;
}

.todo-list li .edit {
  right: 55px;
  color: #4caf50;
}
